body{
    display:flex;
    flex-direction: column;
    
}

.nav-items {
    color: #eeeaea;
    font-size: 20px;
    padding-left: 40px;
    
}
.about-cont {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 700px;
    position: fixed;
    top: 0;
}
nav{
    z-index: 99;
}
.background{
    margin-top: 6rem;
    margin-left: 4rem;
}

.logo{
    width:69%;
}

.container{
    padding:0px;
}

.card-title{
    padding-bottom: 1rem;
}

.card{
    width: 11rem;
    margin:2rem; 
    height: 15rem;
    border: 2px solid rgb(5, 144, 190);
}
.card-body{
    text-align: center;
}
.card-rhs,.card-lhs{
    margin: 0;
}
.filtersection{
    margin-left: 2rem;
    margin-top:5rem;
    top: 0;
    z-index: 99;
}
.filter {
    position: relative;
    background: linear-gradient(135deg, rgb(179, 208, 253) 0%, rgb(164, 202, 248) 100%);
    border-radius: 1000px;
    padding: 10px;  
    position: fixed;
    display: inline-block;
    place-content: right;
    z-index: 0;
    min-width: 10rem;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .search-container::after, .search-container::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }
  
  .search-container::before {
    top: -1px;
    left: -1px;
    background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
    z-index: -1;
  }
  
  .search-container::after {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgb(163, 206, 255) 0%,  rgb(211, 232, 255) 100%);
    box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    z-index: -2;
  }
  
  .input {
    padding: 10px;
    width: 100%;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    border: none;
    color: #9EBCD9;
    font-size: 20px;
    border-radius: 50px;
  }
  
  .input:focus {
    outline: none;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
  }
  
  .search__icon {
    width: 50px;
    aspect-ratio: 1;
    border-left: 2px solid white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 10px;
  }
  
  .search__icon:hover {
    border-left: 3px solid white;
  }
  
  .search__icon path {
    fill: white;
  }
  .container form {
    display: flex;
    position:fixed;
    margin-top:8rem;
    margin-left:1rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .container label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
  }
  
  .container  label input {
    position: absolute;
    left: -9999px;
  }
  
  .container label input:checked + span {
    background-color:  rgb(211, 232, 255);
    color:black;
  }
  
  .container label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em  rgba(79, 156, 232, 0.7019607843);
  }
  
  .container label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    color:  rgb(0, 0, 0);
  }
  
  .container label span:hover {
    background-color: #d6d6e5;
  }
  
  .container label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em rgba(79, 156, 232, 0.7019607843);
  }
  button {
    display: flex;
    align-items: center;
    font-family: inherit;
    position: fixed;
    cursor: pointer;
    margin-left:5rem;
    margin-top: 30rem;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: rgba(79, 156, 232, 0.7019607843);
    background: linear-gradient(to right, rgba(79, 156, 232, 0.7019607843), rgba(79, 156, 232, 0.7019607843), rgba(79, 156, 232, 0.7019607843));
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }
  
  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }
  .toggle-container {
    --knob-size: 1.75em;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .toggle-input {
    position: absolute;
    z-index: 2;
    bottom: 132.5%;
    border-radius: 50%;
    transform: rotate(-25deg);
    transform-origin: 50% 4.75em;
    width: var(--knob-size);
    height: var(--knob-size);
    opacity: 0;
    /* fix em sizing */
    font: inherit;
    transition: transform .24s cubic-bezier(.65, 1.35, .5, 1);
    cursor: pointer;
  }
  
  .toggle-input:checked {
    transform: rotate(25deg);
  }
  
  .toggle-handle-wrapper {
    position: absolute;
    z-index: 1;
    bottom: -135%;
    -webkit-mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
    mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
    width: 200%;
    overflow: hidden;
  }
  
  .toggle-handle {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-25deg);
    transform-origin: bottom center;
    transition: transform .24s cubic-bezier(.65, 1.35, .5, 1);
  }
  
  .toggle-input:checked + .toggle-handle-wrapper > .toggle-handle {
    transform: rotate(25deg);
  }
  
  .toggle-handle-knob {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    width: var(--knob-size);
    height: var(--knob-size);
    background-image: radial-gradient(farthest-corner at 70% 30%, #fedee2 4%, #fadf12 12% 24%, #fadf12 50% 65%, #fadf12 75%);
    transition: transform .24s cubic-bezier(.65, 1.35, .5, 1);
  }
  
  .toggle-input:checked + .toggle-handle-wrapper .toggle-handle-knob {
    transform: rotate(-90deg);
  }
  
  /* toggle handle knob hover inner shadow */
  .toggle-handle-knob::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 8px 2px rgb(255 255 255 / .4);
    opacity: 0;
    transition: opacity .2s;
  }
  
  @media (hover: hover) {
    .toggle-input:hover + .toggle-handle-wrapper .toggle-handle-knob::after,
    .toggle-input:focus-visible + .toggle-handle-wrapper .toggle-handle-knob::after {
      opacity: 1;
    }
  }
  
  .toggle-handle-bar-wrapper {
    position: relative;
    width: .5em;
    height: 3em;
  }
  
  .toggle-handle-bar {
    position: absolute;
    top: calc(var(--knob-size) / 2 * -1);
    left: 0;
    width: 100%;
    height: calc(100% + var(--knob-size) / 2);
    background-image: linear-gradient(to right, #777475, #a4a4a4, #fff 45% 55%, #a4a4a4, #777475);
    background-position-x: .06125em;
    transition: background-position-x .24s cubic-bezier(.65, 1.35, .5, 1);
    box-shadow: inset 0 1em .25em rgb(0 0 0 / .4);
  }
  
  .toggle-input:checked + .toggle-handle-wrapper .toggle-handle-bar {
    background-position-x: -.06125em;
  }
  
  .toggle-base {
    position: relative;
    border-radius: 3.125em;
    padding: .25em;
    width: 3.5em;
    height: 1.125em;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #d7d7d7);
    box-shadow: 0 -.25em .5em #fff, 0 .25em .5em #d7d7d7;
  }
  
  .toggle-base-inside {
    position: relative;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #a6a6a6, #7d7d7d);
    box-shadow: inset 0 .0625em rgb(255 255 255 / .2), inset 0 -.03125em rgb(255 255 255 / 1), inset 0 -.0625em .25em rgb(0 0 0 / .1);
  }
  
  /* toggle base inside active */
  .toggle-base-inside::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #08c9ff, #08c9ff);
    box-shadow: inherit;
    opacity: 0;
    transition: opacity .24s cubic-bezier(.65, 1.35, .5, 1);
  }
  
  .toggle-input:checked ~ .toggle-base .toggle-base-inside::after {
    opacity: 1;
  }